
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dormee! 🏢</title>
 	<link rel="stylesheet" type="text/css" href="/static/tailwindoutput.css">
  <link rel="stylesheet" type="text/css" href="tailwindoutput.css">
</head>
<body class="w-screen min-h-screen bg-primary px-[7.5%] md:px-[20%] ">
  <div class="min-h-screen flex flex-col place-items-center place-content-between py-8">
    <!-- Header (Dorm Location) --> 
    <div>
      

    </div>
    <!-- content -->

    <!-- navbar -->

  </div>
</body>
</html>