
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dormee! 🏢</title>
  <link rel="stylesheet" type="text/css" href="/static/tailwindoutput.css">
  <link rel="stylesheet" type="text/css" href="tailwindoutput.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css" rel="stylesheet" />
</head>
<body class="w-screen min-h-screen bg-softWhite md:px-[20%] ">
  <div class="min-h-screen flex flex-col place-items-center place-content-between ">
    <!-- Header (Dorm Location)--> 
    
    <section href="#" class="w-full h-[10vh] flex flex-row items-center bg-softWhite border-gray-200 rounded-lg shadow hover:bg-[#FFD1E2] transition ease-in-out delay-150">
    <img class="hidden md:flex object-cover w-[25%] h-full  rounded-t-lg  rounded-l-lg " src="https://project.zmyhome-image.sg-sin1.upcloudobjects.com/V13916/09-28-2022-05-50-2069126647.jpg" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-softBlack ">Wish@Samyan <span class="text-base font-light text-gray-500">และอีก 3 สถานที่ (คลิกเพื่อดู)</span></h5>
        <div class="flex flex-row space-x-4">
            <div class="flex items-center">
                <svg class="w-4 h-4 text-red-500 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 395.71 395.71">
                    <path d="M197.849,0C122.131,0,60.531,61.609,60.531,137.329c0,72.887,124.591,243.177,129.896,250.388l4.951,6.738   c0.579,0.792,1.501,1.255,2.471,1.255c0.985,0,1.901-0.463,2.486-1.255l4.948-6.738c5.308-7.211,129.896-177.501,129.896-250.388   C335.179,61.609,273.569,0,197.849,0z M197.849,88.138c27.13,0,49.191,22.062,49.191,49.191c0,27.115-22.062,49.191-49.191,49.191   c-27.114,0-49.191-22.076-49.191-49.191C148.658,110.2,170.734,88.138,197.849,88.138z"/>
                </svg>
                <p class="ml-2 text-sm font-medium text-gray-500 ">สามย่าน</p>
            </div>
            
            <div class="flex items-center">
                <svg class="w-4 h-4 mr-1 text-softBlack" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 320 512">
                    <path d="M176 32V64C237.9 64 288 114.1 288 176C288 200.2 280.3 222.6 267.3 240.9C298.9 260.7 320 295.9 320 336C320 397.9 269.9 448 208 448H176V480C176 497.7 161.7 512 144 512C126.3 512 112 497.7 112 480V448H41.74C18.69 448 0 429.3 0 406.3V101.6C0 80.82 16.82 64 37.57 64H112V32C112 14.33 126.3 0 144 0C161.7 0 176 14.33 176 32V32zM112 128H64V224H112V128zM224 176C224 149.5 202.5 128 176 128V224C202.5 224 224 202.5 224 176zM112 288H64V384H112V288zM208 384C234.5 384 256 362.5 256 336C256 309.5 234.5 288 208 288H176V384H208z"/>
                </svg>
                <p class="ml-2 text-sm font-medium text-gray-500 ">~ 15000 บาท/ด.</p>
            </div>

            <div class="flex items-center">
                <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                <svg class="w-4 h-4 mr-1 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                    <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                <p class="ml-2 text-sm font-medium text-gray-500 ">(4.95)</p>
            </div>
            
        </div>
    </div>
    </section>
    
    <!-- content -->
    <section id="" class="flex flex-grow relative w-full">
        <div class="w-full md:px-[20%] ">
            <div class="demo__content">
              <div class="demo__card-cont">
                <div class="demo__card">
                  <div class="demo__card__top brown">
                    <div class="demo__card__img"></div>
                    <p class="demo__card__name">Hungry cat 6</p>
                  </div>
                  <div class="demo__card__btm">
                    <p class="demo__card__we">Whatever</p>
                  </div>
                  <div class="demo__card__choice m--reject"></div>
                  <div class="demo__card__choice m--like"></div>
                  <div class="demo__card__drag"></div>
                </div>
                <div class="demo__card">
                  <div class="demo__card__top lime">
                    <div class="demo__card__img"></div>
                    <p class="demo__card__name">Hungry cat 5</p>
                  </div>
                  <div class="demo__card__btm">
                    <p class="demo__card__we">Whatever</p>
                  </div>
                  <div class="demo__card__choice m--reject"></div>
                  <div class="demo__card__choice m--like"></div>
                  <div class="demo__card__drag"></div>
                </div>
                <div class="demo__card">
                  <div class="demo__card__top cyan">
                    <div class="demo__card__img"></div>
                    <p class="demo__card__name">Hungry cat 4</p>
                  </div>
                  <div class="demo__card__btm">
                    <p class="demo__card__we">Whatever</p>
                  </div>
                  <div class="demo__card__choice m--reject"></div>
                  <div class="demo__card__choice m--like"></div>
                  <div class="demo__card__drag"></div>
                </div>
                <div class="demo__card">
                  <div class="demo__card__top indigo">
                    <div class="demo__card__img"></div>
                    <p class="demo__card__name">Hungry cat 3</p>
                  </div>
                  <div class="demo__card__btm">
                    <p class="demo__card__we">Whatever</p>
                  </div>
                  <div class="demo__card__choice m--reject"></div>
                  <div class="demo__card__choice m--like"></div>
                  <div class="demo__card__drag"></div>
                </div>
                <div class="demo__card">
                  <div class="demo__card__top blue">
                    <div class="demo__card__img"></div>
                    <p class="demo__card__name">Hungry cat 2</p>
                  </div>
                  <div class="demo__card__btm">
                    <p class="demo__card__we">Whatever</p>
                  </div>
                  <div class="demo__card__choice m--reject"></div>
                  <div class="demo__card__choice m--like"></div>
                  <div class="demo__card__drag"></div>
                </div>
                <div class="demo__card">
                  <div class="demo__card__top purple">
                    <div class="demo__card__img"></div>
                    <p class="demo__card__name">Hungry cat</p>
                  </div>
                  <div class="demo__card__btm">
                    <!--INFO section-->
                    <div class="flex flex-row px-2 justify-between">

                      <ul class="flex flex-col space-y-4 text-left ">
                        <li class="flex items-center space-x-3">
                            <h2 class="text-xl font-bold">K4filing <span class="text-sm font-medium text-gray-500">18</span></h2>
                        </li>
                        <li class="flex items-center space-x-3">
                            <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                             </svg>
                            <span>คณะวิทยาศาสตร์</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                             </svg>
                            <span>จุฬาลงกรณ์มหาวิทยาลัย</span>
                        </li>
                        
                    </ul>
                    
                    <ul class="flex flex-col space-y-4 items-end  ">
                      <li class="flex items-center space-x-3">
                          <h2 class="text-base text-green-500">79% Match!</h2>
                      </li>
                      <li class="flex items-center space-x-3">
                          <span>ปี 1</span>
                      </li>
                      <li class="flex items-center space-x-3">
                          <span class="text-blue-600">(คลิกเพื่อดูรายละเอียด)</span>
                      </li>
                      
                  </ul>
                    </div>
                  </div>
                  <div class="demo__card__choice m--reject"></div>
                  <div class="demo__card__choice m--like"></div>
                  <div class="demo__card__drag"></div>
                </div>
              </div>
            </div>
          </div>
    </section>
    <!-- navbar -->
    <section class="grid h-[10vh] w-full grid-cols-3 mx-auto font-medium bg-primary">
      
        <button type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-[#FFD1E2] group py-2 transition ease-in-out delay-150">
          <a href="/matched" class="inline-flex flex-col items-center justify-center w-full h-full">
            <svg class=" w-5 h-5 mb-2 text-softWhite  group-hover:text-blue-600 transition ease-in-out delay-150" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
            </svg>
            <span class="text-sm text-softWhite  group-hover:text-blue-600 transition ease-in-out delay-150">Matched</span>
          </a>
          </button>
      
        <button type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-[#FFD1E2] group py-2 transition ease-in-out delay-150">
          <a href="/findmate" class="inline-flex flex-col items-center justify-center w-full h-full">
            <svg class="w-5 h-5 mb-2 text-softWhite  group-hover:text-blue-600 transition ease-in-out delay-150" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M11.074 4 8.442.408A.95.95 0 0 0 7.014.254L2.926 4h8.148ZM9 13v-1a4 4 0 0 1 4-4h6V6a1 1 0 0 0-1-1H1a1 1 0 0 0-1 1v13a1 1 0 0 0 1 1h17a1 1 0 0 0 1-1v-2h-6a4 4 0 0 1-4-4Z"/>
                <path d="M19 10h-6a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1Zm-4.5 3.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM12.62 4h2.78L12.539.41a1.086 1.086 0 1 0-1.7 1.352L12.62 4Z"/>
            </svg>
            <span class="text-sm text-softWhite  group-hover:text-blue-600 transition ease-in-out delay-150">Find Mate</span>
          </a>
        </button>
        
        <button type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-[#FFD1E2]  group py-2 transition ease-in-out delay-150">
          <a href="/matched" class="inline-flex flex-col items-center justify-center w-full h-full">
            <svg class="w-5 h-5 mb-2 text-softWhite  group-hover:text-blue-600 transition ease-in-out delay-150" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 12.25V1m0 11.25a2.25 2.25 0 0 0 0 4.5m0-4.5a2.25 2.25 0 0 1 0 4.5M4 19v-2.25m6-13.5V1m0 2.25a2.25 2.25 0 0 0 0 4.5m0-4.5a2.25 2.25 0 0 1 0 4.5M10 19V7.75m6 4.5V1m0 11.25a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5ZM16 19v-2"/>
            </svg>
            <span class="text-sm text-softWhite  group-hover:text-blue-600 transition ease-in-out delay-150">Profile</span>
          </a>
          </button>
      
    </section>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
   $(document).ready(function() {

    var animating = false;
    var cardsCounter = 0;
    var numOfCards = 6;
    var decisionVal = 80;
    var pullDeltaX = 0;
    var deg = 0;
    var $card, $cardReject, $cardLike;

    function pullChange() {
    animating = true;
    deg = pullDeltaX / 10;
    $card.css("transform", "translateX("+ pullDeltaX +"px) rotate("+ deg +"deg)");

    var opacity = pullDeltaX / 100;
    var rejectOpacity = (opacity >= 0) ? 0 : Math.abs(opacity);
    var likeOpacity = (opacity <= 0) ? 0 : opacity;
    $cardReject.css("opacity", rejectOpacity);
    $cardLike.css("opacity", likeOpacity);
    };

    function release() {

    if (pullDeltaX >= decisionVal) {
        $card.addClass("to-right");
    } else if (pullDeltaX <= -decisionVal) {
        $card.addClass("to-left");
    }

    if (Math.abs(pullDeltaX) >= decisionVal) {
        $card.addClass("inactive");

        setTimeout(function() {
        $card.addClass("below").removeClass("inactive to-left to-right");
        cardsCounter++;
        if (cardsCounter === numOfCards) {
            cardsCounter = 0;
            $(".demo__card").removeClass("below");
        }
        }, 300);
    }

    if (Math.abs(pullDeltaX) < decisionVal) {
        $card.addClass("reset");
    }

    setTimeout(function() {
        $card.attr("style", "").removeClass("reset")
        .find(".demo__card__choice").attr("style", "");

        pullDeltaX = 0;
        animating = false;
    }, 300);
    };

    $(document).on("mousedown touchstart", ".demo__card:not(.inactive)", function(e) {
    if (animating) return;

    $card = $(this);
    $cardReject = $(".demo__card__choice.m--reject", $card);
    $cardLike = $(".demo__card__choice.m--like", $card);
    var startX =  e.pageX || e.originalEvent.touches[0].pageX;

    $(document).on("mousemove touchmove", function(e) {
        var x = e.pageX || e.originalEvent.touches[0].pageX;
        pullDeltaX = (x - startX);
        if (!pullDeltaX) return;
        pullChange();
    });

    $(document).on("mouseup touchend", function() {
        $(document).off("mousemove touchmove mouseup touchend");
        if (!pullDeltaX) return; // prevents from rapid click events
        release();
    });
    });

    });
  </script>
</body>
</html>