
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dormee! 🏢</title>
  
 	<link rel="stylesheet" type="text/css" href="/static/tailwindoutput.css">
  <link rel="stylesheet" type="text/css" href="https://firebasestorage.googleapis.com/v0/b/use-dormee.appspot.com/o/WebFile%2Ftailwindoutput.css?alt=media&token=3203de2b-e34b-4671-a7af-76e20d2d5ef2">
  <link rel="stylesheet" type="text/css" href="/static/importFont.css">
  <link rel="stylesheet" type="text/css" href="https://firebasestorage.googleapis.com/v0/b/use-dormee.appspot.com/o/WebFile%2FimportFont.css?alt=media&token=c942d916-6231-475b-9ddc-a15f982c36fb">
</head>
<body class="w-screen min-h-screen bg-primary px-[7.5%] md:px-[20%] ">
  <div class="min-h-screen flex flex-col place-items-center place-content-between py-8">
    <div class="flex flex-row ">
      <img src="https://firebasestorage.googleapis.com/v0/b/use-dormee.appspot.com/o/WebFile%2FDormeeIcon.svg?alt=media&token=3df05437-4d3f-461c-b87d-7628bacfaeb6&_gl=1*ncg4kd*_ga*MjA3MTE1MTQ5MC4xNjk2OTUwNjYy*_ga_CW55HF8NVT*MTY5Nzk4Mjc4Ny4xMi4xLjE2OTc5ODMxMDcuMTQuMC4w" class="h-auto w-[3rem] md:w-[4.5rem] lg:w-[8rem]">
      <p class="font-poppins text-softWhite text-[3rem] md:text-[4.5rem] lg:text-[8rem]">Dormee</p>
    </div>
    <div class="h-[35vh] w-full flex justify-center align-middle">
      <img src="https://firebasestorage.googleapis.com/v0/b/use-dormee.appspot.com/o/WebFile%2FHeroImg.svg?alt=media&token=22061269-c6bd-4730-bcd8-251a301fa648&_gl=1*vimj0e*_ga*MjA3MTE1MTQ5MC4xNjk2OTUwNjYy*_ga_CW55HF8NVT*MTY5Nzk4Mjc4Ny4xMi4xLjE2OTc5ODMxMDQuMTcuMC4w" class="h-full w-auto object-contain">
    </div>
    <div>
      <p class=" text-softWhite text-lg md:w-[35vw]">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <a href="/login" class="z-50">
    <button  type="button" class="text-softWhite font-poppins font-medium rounded-lg text-xl px-10 sm:px-20 md:px-36 py-5  text-center inline-flex items-center mr-2 mb-2 transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 duration-300">
      <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 19">
        <path fill-rule="evenodd" d="M8.842 18.083a8.8 8.8 0 0 1-8.65-8.948 8.841 8.841 0 0 1 8.8-8.652h.153a8.464 8.464 0 0 1 5.7 2.257l-2.193 2.038A5.27 5.27 0 0 0 9.09 3.4a5.882 5.882 0 0 0-.2 11.76h.124a5.091 5.091 0 0 0 5.248-4.057L14.3 11H9V8h8.34c.066.543.095 1.09.088 1.636-.086 5.053-3.463 8.449-8.4 8.449l-.186-.002Z" clip-rule="evenodd"/>
      </svg>
      Sign in with Google
    </button>
    </a>
  </div>
</body>
</html>