
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dormee! 🏢</title>
 	<link rel="stylesheet" type="text/css" href="/static/tailwindoutput.css">
  <link rel="stylesheet" type="text/css" href="tailwindoutput.css">
  <link rel="stylesheet" type="text/css" href="https://firebasestorage.googleapis.com/v0/b/use-dormee.appspot.com/o/WebFile%2Ftailwindoutput.css?alt=media&token=51bad880-59d2-42ec-9d39-5f30b57b8781">
  <link rel="stylesheet" type="text/css" href="/static/importFont.css">
  <link rel="stylesheet" type="text/css" href="importFont.css">
</head>
<body class="w-screen min-h-screen bg-primary px-[7.5%] md:px-[20%] ">
  <div class="min-h-screen flex flex-col place-items-center place-content-between py-8">
    <div class="flex flex-row ">
      <img src="https://firebasestorage.googleapis.com/v0/b/use-dormee.appspot.com/o/WebFile%2FDormeeIcon.svg?alt=media&token=3df05437-4d3f-461c-b87d-7628bacfaeb6&_gl=1*ncg4kd*_ga*MjA3MTE1MTQ5MC4xNjk2OTUwNjYy*_ga_CW55HF8NVT*MTY5Nzk4Mjc4Ny4xMi4xLjE2OTc5ODMxMDcuMTQuMC4w" class="h-auto w-[3rem] md:w-[4.5rem] lg:w-[8rem]">
      <p class="font-poppins text-softWhite text-[3rem] md:text-[4.5rem] lg:text-[8rem]">Dormee</p>
    </div>
    <div class="h-[35vh] w-full flex justify-center align-middle">
      <img src="https://firebasestorage.googleapis.com/v0/b/use-dormee.appspot.com/o/WebFile%2FHeroImg.svg?alt=media&token=22061269-c6bd-4730-bcd8-251a301fa648&_gl=1*vimj0e*_ga*MjA3MTE1MTQ5MC4xNjk2OTUwNjYy*_ga_CW55HF8NVT*MTY5Nzk4Mjc4Ny4xMi4xLjE2OTc5ODMxMDQuMTcuMC4w" class="h-full w-auto object-contain">
    </div>
    <div>
      <p class=" text-softWhite text-lg md:w-[35vw]">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="flex flex- gap-x-4">
      <a href="/login" class="z-50">
        <button  type="button" class="text-softWhite font-poppins font-medium rounded-lg text-xl px-10 sm:px-20 md:px-36 py-5  text-center inline-flex items-center mr-2 mb-2 transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 duration-300">
          Log in
        </button>
        </a>
        <a href="/register" class="z-50">
          <button  type="button" class="text-softBlack font-poppins font-medium rounded-lg text-xl px-10 sm:px-20 md:px-36 py-5  text-center inline-flex items-center mr-2 mb-2 transition ease-in-out delay-150 bg-gray-100 hover:-translate-y-1 hover:scale-110 hover:bg-gray-300 duration-300">
            Sign in
          </button>
          </a>
    </div>
    
  </div>
</body>
</html>