.jump-button {
    transition: transform 0.5s ease;
}
  
.jump-button:active {
    transform: translateY(-5px); /* Adjust the distance for your desired jump effect */
}

/* Define the CSS class for the fade-down animation */
.fade-down {
    animation-name: fadeDown;
    animation-duration: 0.5s; /* Adjust the duration as needed */
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.circle {
    width: 150px; /* Set the width and height to control the circle's size */
    height: 150px;
    border-radius: 50%; /* This creates a circular clipping mask */
    overflow: hidden; /* Hide the parts of the image outside the circle */
    border: 5px solid #FBFAF5; /* Add a black border with a width of 2 pixels */
}

.circle img {
    width: 100%; /* Make the image fill the circular container */
    height: 100%;
    object-fit: cover; /* Maintain the image's aspect ratio and cover the circle */
}
  
@keyframes fadeDown {
    from {
      opacity: 0;
      transform: translateY(-20px); /* Adjust the initial position */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
